.page1 {
  height: 470px;
}

.media-section {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
  margin-bottom: 48px;
}

.media-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.media-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.media-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.7) 100%
  );
  filter: brightness(0.3);
  z-index: 1;
  pointer-events: none;
}

/* Text on top */
.media-overlay-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  color: white;
  pointer-events: auto;
}

.main-heading {
  font-size: 1rem;
  margin-bottom: 0; /* Adjust margin to bring the line closer */
  text-align: left;
  /* Use padding for positioning on larger screens */
  padding-left: 200px;
}

/* New class for the horizontal line */
.line {
  height: 3px;
  width: 50px;
  background: #f7842b;
  margin: 8px 0 16px 200px; /* Align to the left with margin */
  border-radius: 2px;
}

.below-part {
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 1.2px;
  margin-bottom: 12px;
  text-align: left;
  /* Use padding for positioning on larger screens */
  padding-left: 192px;
}

.media-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align links to the left */
  padding-left: 190px; /* Align links with other text */
}

.media-link1 a,
.media-link2 a,
.media-link3 a {
  color: #fff;
  font-size: 1.1rem;
  margin: 5px 0;
  text-decoration: none;
}

#contact.footer {
  padding: 0;
}

/* Tablet and larger phones */
@media (max-width: 1024px) {
  .media-section {
    height: 400px;
  }

  .media-image {
    height: 400px;
  }

  .media-overlay-text {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .main-heading,
  .line,
  .below-part,
  .media-links {
    padding-left: 5%; /* Use a percentage for better responsiveness */
  }

  .main-heading {
    font-size: 1.2rem;
  }
  
  .below-part {
    font-size: 2rem;
  }

  .media-link1 a,
  .media-link2 a,
  .media-link3 a {
    margin: 5px 0;
  }
}

/* Mobile phones */
@media (max-width: 768px) {
  .media-section {
    height: 350px;
  }

  .media-image {
    height: 350px;
  }

  .main-heading {
    font-size: 1rem;
  }

  .below-part {
    font-size: 1.5rem;
  }

  .media-link1 a,
  .media-link2 a,
  .media-link3 a {
    font-size: 1rem;
  }
}